@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   Gabriel Borchardt<br />
    <abbr title="Phone">P:</abbr>
    (53)98428-7882
</address>

<address>
    <strong>GitHub:</strong> <a href="https://github.com/gabrielborchardt">github.com/gabrielborchardt</a><br />
</address>
